*/output
gauge_list.txt

*/*_overpressure.txt
*/*/*_overpressure.txt

*/*.vtk
*/*/*.vtk

*/*_dynamicpressure.txt
*/*/*_dynamicpressure.txt

*/vprt.txt
*/*/vprt.txt

*/*_th_regions.txt
*/*/*_th_regions.txt

scenario_*

*/mclock.txt
mclock.txt

collected_data*
